@using Umbraco.V11.umbraco.models;
@model SiteFooterViewModel

<div class="container border-4 my-5">
    <!-- Footer -->
    <footer class="text-center border-4 text-lg-start text-white"
            style="background-color: #3e4551">
        <!-- Grid container -->
        <div class="container border-4 p-4 pb-0">
            <section class="">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">@Model.FooterTitle</h5>
                        @if (!string.IsNullOrWhiteSpace(Model.FooterContent))
                        {
                            @Model.FooterContent
                        }
                    </div>
                    @foreach (var item in Model.FooterNavigationItems)
                    {
                        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">

                            <h5 class="text-uppercase">@item.Title</h5>
                            <ul class="list-unstyled mb-0">
                                @foreach (var link in item.Links)
                                {
                                    <li>
                                        <a href="@link.Url" class="text-white">@link.Name</a>
                                    </li>
                                }
                            </ul>

                        </div>
                    }
                </div>
            </section>
        </div>
        <hr class="mb-4" />

        <section class="mb-4 text-center">
            @foreach (var socialLink in Model.SocialLinks)
            {
                <a class="btn btn-outline-light btn-floating m-1"
                   href="@socialLink.Url"
                   role="button">
                    <i class="fab fa-@socialLink.Network"></i>
                </a>
            }
        </section>
    </footer>
</div>
